<div class="col-sm-12" ng-controller="audit">

    <div class="filter-panel">
        <div class="row">
            <div class="col-sm-4 form-group">
                <label>audit UUID</label>
                <input class="form-control" ng-keypress="$event.which===13 && search()" type="text" placeholder="395670bd-e511-40f1-9132-79615386b50b" ng-model="params.filter.uuid.ci">
            </div>
            <div class="col-sm-4 form-group">
                <label>x-request-id</label>
                <input class="form-control" ng-keypress="$event.which===13 && search()" type="text" placeholder="d2fd0abf-fb38-4353-a128-8604bcdffadf" ng-model="params.filter.x_request_id.ci">
            </div>
            <div class="col-sm-4 form-group">
                <label>host</label>
                <input class="form-control" ng-keypress="$event.which===13 && search()" type="text" placeholder="127.0.0.1" ng-model="params.filter.host.ci">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>resource</label>
                <input class="form-control" ng-keypress="$event.which===13 && search()" type="text" placeholder="/users" ng-model="params.filter.resource.ci">
            </div>
            <div class="col-sm-3 form-group">
                <label>HTTP status</label>
                <input class="form-control" ng-keypress="$event.which===13 && search()" type="text" placeholder="200" ng-model="params.filter.http_status.eq">
            </div>
            <div class="col-sm-3 form-group">
                <label>HTTP method</label>
                <input class="form-control" ng-keypress="$event.which===13 && search()" type="text" placeholder="GET" ng-model="params.filter.http_method.eq">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 form-group">
                <label>date</label>
                <input type="datetime-local" class="form-control"
                    ng-model="params.filter.timestamp.gte"
                    placeholder="dd/MM/yyyy"/>
                <input type="datetime-local" class="form-control"
                    ng-model="params.filter.timestamp.lte"
                    placeholder="dd/MM/yyyy"/>
            </div>
            <div class="col-sm-3 form-group">
                <label>client name</label>
                <select class="form-control" ng-model="params.filter.client_name.eq" ng-options="client for client in clients">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-sm-3 form-group">
                <label>app name</label>
                <select class="form-control" ng-model="params.filter.app_name.eq" ng-options="app_name for app_name in app_names">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-sm-3 form-group">
                <label>tenant</label>
                <select class="form-control" ng-model="params.filter.tenant.eq" ng-options="tenant for tenant in tenants">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="row text-center">
            <button class="btn btn-success" ng-click="search()">search</button>
            <button class="btn btn-primary" ng-click="set_dates(1e4, 0,params.filter.timestamp,search())">all</button>
            <button class="btn btn-primary" ng-click="set_dates(0, 0,params.filter.timestamp,search())">today</button>
            <button class="btn btn-primary" ng-click="set_dates(1, 1,params.filter.timestamp,search())">yesterday</button>
            <button class="btn btn-primary" ng-click="set_dates(7, 0,params.filter.timestamp,search())">last 7 days</button>
            <button class="btn btn-primary" ng-click="set_dates(30, 0,params.filter.timestamp,search())">last 30 days</button>
            <button class="btn btn-primary" ng-click="set_dates(from_begin_year(), 0,params.filter.timestamp,search())">this year</button>
        </div>

        <!--button class="btn btn-primary" ng-click="createReport()">Create Report</button-->
    </div>

    <div ng-show="showDivMessagge" class="alert" ng-class="success? 'alert-success':'alert-danger' " role="alert">
        {{resultMessage}}
    </div>

    <div class="row">
        <div class="col-sm-6">
        Total records found: {{total_elements | number}}
        </div>
    </div>
    <table class="table table-striped table-responsive table-hover">
        <thead style = "text-transform: uppercase;">
        <tr>
            <th>x_request_id</th>
            <th>timestamp</th>
            <th>tenant</th>
            <th>client_name</th>
            <th>resource</th>
            <th>http_method</th>
            <th>http_status</th>
            <th>app_name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="(k, e) in audits">
            <td ng-attr-title="{{k}}">{{k.substring(0,8)}}</td>
            <td>{{(e.request.timestamp || e.response.timestamp) | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{e.request.tenant || e.response.tenant}}</td>
            <td>{{e.request.client_name || e.response.client_name}}</td>
            <td>{{e.request.resource || e.response.resource}}</td>
            <td>{{e.request.http_method || e.response.http_method}}</td>
            <td>{{e.response.http_status}}</td>
            <td>{{e.request.app_name || e.response.app_name}}</td>
            <td><button class="btn btn-link btn-sm" title="show full record" data-toggle="modal" data-target="#token-modal" ng-click="openModal(e)"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button></td>
        </tr>
        </tbody>
    </table>
    <div class="col-sm-offset-3 col-sm-2">
        <button class="btn btn-default btn-sm" ng-show="currentPage > 1" ng-click="choose(1)"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>
        <button class="btn btn-default btn-sm" ng-show="currentPage > 1" ng-click="prec()"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
        
    </div>
    <div class="col-sm-2">Page {{currentPage}} of {{totalPages}}<br>{{total_elements | number}} record(s)</div>
    <div class="col-sm-2">
        <button class="btn btn-default btn-sm" ng-show="currentPage < totalPages" ng-click="succ()"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
        <button class="btn btn-default btn-sm" ng-show="currentPage < totalPages" ng-click="choose(totalPages)"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
    </div>


    <div id="token-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title"><b>Info</b></h4>
                </div>
                <form name="tokenForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <pre pretty-json="info"></pre>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>