<!--div ng-controller="client">
<pre>{{client}}</pre>
</div-->
<div ng-controller="client">

    <div class="container">
        <p class="text-uppercase" style="color: #9c9a9a;font-size: large;"><strong>Service Properties</strong></p>
        <form name="serviceForm" class="form-horizontal" ng-submit="submit()">
            <div class="form-group row">
                <div class="control-label col-sm-2">
                    <label>
                        Service UUID
                    </label>
                </div>
                <div class="form-control-static col-sm-10 ">
                    {{service.uuid}}
                </div>
            </div>

            <div class="form-group">
                <label title="Tenant" class="control-label col-sm-2">Tenant</label>
                <div class="col-sm-10">
                    <select class="form-control" name="tenantsSelect" id="tenantsSelect" ng-model="service.tenant" required>
                        <option ng-repeat="tenant in tenants" value="{{tenant}}">{{tenant}}</option>
                    </select>
                    <p ng-show="serviceForm.tenantsSelect.$invalid && serviceForm.tenantsSelect.$touched" class="alert alert-danger">Tenant is mandatory</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Service Name</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="service_name" placeholder="service name"
                           required minlength="4" ng-model="service.name" />
                    <p ng-show="serviceForm.service_name.$invalid && serviceForm.service_name.$touched" class="alert alert-danger">Service name must be at least 4 characters</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Reference Email</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="email"
                           required name="client_ref_email" ng-model="client.reference_email"/>
                    <p ng-show="serviceForm.client_ref_email.$invalid && serviceForm.client_ref_email.$touched" class="alert alert-danger">Reference Email is mandatory</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Subscription Date</label>
                <div class="col-sm-10 form-control-static">
                    {{client.subscription_date | date:'dd/MMMM/yyyy'}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tags</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="tags" placeholder="tags"
                           ng-model="service.tags"/>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="institutionTags.model">
                        <option ng-repeat="option in institutionTags.availableOptions" value="{{option}}">{{option}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Notes</label>
                <div class="col-sm-10">
                    <textarea rows="4" class="form-control" ng-model-options="{allowInvalid: true}" placeholder="notes"
                          ng-model="client.notes"></textarea>
                </div>
            </div>
        </form>
        <div>
            <p class="text-uppercase" style="color: #9c9a9a;font-size: large;"><strong>Message store</strong></p>
            <div class="form-horizontal">
                <div class="form-group">
                    <label title="Enforced tags" class="control-label col-sm-2">Enforced tags expression</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="enforced-tags" name="enforced-tags" placeholder="tag:'tag1' AND (tag:'tag2' OR tag:'tag3')"
                           ng-model="service.mex_enforced_tags" disabled/>
                        <p ng-show="isOperatorLast || isOpenBracketLast || nOpenBrackets != 0" class="alert alert-danger">Invalid expression</p>
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-sm-6 col-sm-offset-2">
                        <select class="form-control" name="enforcedTagsSelect" id="enforcedTagsSelect" ng-model="selectedEnforcedTags" ng-change="selectTag()" ng-disabled="isTagLast || isCloseBracketLast">
                            <option ng-repeat="option in enforcedTags" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button name="openB" class="btn btn-default" ng-click="addOpenBracket()" ng-disabled="isTagLast || isCloseBracketLast">(</button>
                        <button name="closeB" class="btn btn-default" ng-click="addCloseBracket()" ng-disabled="nOpenBrackets == 0 || isOperatorLast || isOpenBracketLast">)</button>
                        <button name="or" class="btn btn-default" ng-click="addOrOperator()" ng-disabled="isOperatorLast || isOpenBracketLast || !service.mex_enforced_tags">OR</button>
                        <button name="and" class="btn btn-default" ng-click="addAndOperator()" ng-disabled="isOperatorLast || isOpenBracketLast || !service.mex_enforced_tags">AND</button>
                        <button name="and" class="btn btn-warning" ng-click="clearEnforcedTags()">Clear</button>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div>
            <p class="text-uppercase" style="color: #9c9a9a;font-size: large;"><strong>Token</strong></p>

            <div class="form-horizontal">
                <div class="form-group">
                    <label title="expiration date" class="control-label col-sm-2">Expiration time (exp)</label>
                    <div class="col-sm-10 ">
                        <input required type="datetime-local" class="form-control"
                               ng-model="token.exp"
                               placeholder="dd/MM/yyyy"/>
                    </div>
                </div>
                <div class="form-group">
                    <label title="issued at" class="control-label col-sm-2">Issued at (iat)</label>
                    <div class="col-sm-10 ">
                        <input required type="datetime-local" class="form-control"
                               ng-model="token.iat"
                               placeholder="dd/MM/yyyy"/>
                    </div>
                </div>
                <div class="form-group">
                    <label title="agent_auth" class="control-label col-sm-2">Agent authentication</label>
                    <div class="col-sm-10 ">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="agent_auth" ng-model="token.agent_auth"/>
                            </label>
                        </div>    
                    </div>
                    
                </div>

                <p class="text-uppercase" style="color: #c0c0c0;"><strong>Applications & Permissions</strong></p>
                <div class="form-group">
                    <label title="message broker permissions" class="control-label col-sm-2">Message Broker</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="mb_enqueue" ng-model="token.applications.mb.enqueue"/> Enqueue
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" id="mb_dequeue" ng-model="token.applications.mb.dequeue"/> Dequeue
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label title="preferences permissions" class="control-label col-sm-2">Preferences</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="preferences_read" ng-model="token.applications.preferences.read"/> Read
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" id="preferences_write" ng-model="token.applications.preferences.write"/> Write
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" id="preferences_admin" ng-model="token.applications.preferences.admin"/> Admin
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label title="message store permissions" class="control-label col-sm-2">Message Store</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="mex_read" ng-model="token.applications.mex.read"/> Read
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" id="mex_write" ng-model="token.applications.mex.write"/> Write
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" id="mex_admin" ng-model="token.applications.mex.admin"/> Admin
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label title="events permissions" class="control-label col-sm-2">Events</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="events_read" ng-model="token.applications.events.read"/> Read
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" id="events_write" ng-model="token.applications.events.write"/> Write
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" id="events_admin" ng-model="token.applications.events.admin"/> Admin
                        </label>
                    </div>
                </div>

                <p class="text-uppercase" style="color: #c0c0c0;"><strong>Channels settings</strong></p>
                <div class="form-group">
                    <label title="push settings" class="control-label col-sm-2">Push</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="availableChannels.push">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="form-control" type="text" placeholder="firebase token"
                                ng-model="token.preferences.push"/>
                    </div>
                </div>

                <div class="form-group">
                    <label title="email settings" class="control-label col-sm-2">Email</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="availableChannels.email"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="form-control" type="text" placeholder="email address"
                                ng-model="token.preferences.email"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="form-control" type="text" placeholder="email username"
                                ng-model="token.preferences.email_username"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="form-control" type="password" placeholder="email password"
                                ng-model="token.preferences.email_password"/>
                    </div>
                </div>

                <div class="form-group">
                    <label title="sms settings" class="control-label col-sm-2">SMS</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="availableChannels.sms"/>
                            </label>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="form-control" type="text" placeholder="project code"
                                    ng-model="token.preferences.sms.project_code"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="form-control" type="text"
                            ng-model="token.preferences.sms.username" placeholder="username"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="form-control" type="text"
                                    ng-model="token.preferences.sms.password" placeholder="password"/>
                    </div>
                </div>

                <div class="form-group">
                    <label title="push settings" class="control-label col-sm-2">IO Italia</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="availableChannels.io"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="form-control" type="text" placeholder="ioitalia api key"
                                    ng-model="token.preferences.io"/>
                    </div>
                </div>
            </div>
        </div>
        
        <div ng-show="showDivMessagge" class="alert" ng-class="success? 'alert-success':'alert-danger'" role="alert">
            <span data-ng-bind-html="resultMessage"></span>
        </div>

        <div class="text-right">
            <button name="saveButton" ng-disabled="serviceForm.$invalid || (isOperatorLast || isOpenBracketLast || nOpenBrackets != 0)" class="btn btn-primary" ng-click="save()">
                Save
            </button>
            <button class="btn btn-success" ng-disabled="serviceForm.$invalid || (isOperatorLast || isOpenBracketLast || nOpenBrackets != 0)" data-toggle="modal" data-target="#mail-modal" ng-click="saveAndSend()">
                Save & Send
            </button>
        </div>
        
        <hr>
        <p><small>I token sottostanti vengono aggiornati in fase di salvataggio, cliccando il pulsante <mark>Save</mark> oppure <mark>Save & Send</mark>.</small></p>
        <div>
            <div class="form-group">
                <label>Token</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="tokenText"
                        ng-model="client.token_notify" readonly/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"
                                data-clipboard-target="#tokenText">
                            <img class="clippy" src="./images/clippy.svg" width="13"
                                alt="Copy to clipboard">
                        </button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label>Crypted token (if encryption is enabled)</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="tokenCryptedText"
                        ng-model="encrypted_token_notify" readonly/>

                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"
                                data-clipboard-target="#tokenCryptedText">
                            <img class="clippy" src="./images/clippy.svg" width="13"
                                alt="Copy to clipboard">
                        </button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label>Token Data</label>
                <pre pretty-json="token_info"></pre>
            </div>

        </div>

    </div>

    <br><br>


    <div class="modal fade" id="mail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Send the generated <strong>authorization token</strong> to the service owner</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    
                    <div class="form-group">
                        <div class="md-form mb-5 row">
                            <div class="col-sm-2">
                                <label data-error="wrong" data-success="right"><i
                                        class="glyphicon glyphicon-envelope"></i> Sender</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="email" id="defaultForm-emailsender" ng-model="email_to_send.sender"
                                       class="form-control validate">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form mb-5 row">
                            <div class="col-sm-2">
                                <label data-error="wrong" data-success="right"><i
                                        class="glyphicon glyphicon-envelope"></i> CC</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" ng-model="email_to_send.cc" class="form-control validate">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form mb-5 row">
                            <div class="col-sm-2">
                                <label data-error="wrong" data-success="right"><i
                                        class="glyphicon glyphicon-envelope"></i> Recipient</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" ng-model="email_to_send.recipient" class="form-control validate">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form mb-5 row">
                            <div class="col-sm-2">
                                <label data-error="wrong" data-success="right">Subject</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" ng-model="email_to_send.subject" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form mb-5 row">
                            <div class="col-sm-2">
                                <label data-error="wrong" data-success="right">Body</label>
                            </div>
                            <div class="col-sm-10">
                                <textarea rows="20" ng-model="email_to_send.body" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " data-dismiss="modal" ng-click="sendMail()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
