<div class="col-sm-12" ng-controller="events">

    <div class="filter-panel">
        <div class="row">
            <div class="col-sm-3 form-group">
                <label>msg UUID</label>
                <input class="form-control" ng-keypress="$event.which===13 && search()" type="text"
                    placeholder="d2fd0abf-fb38-4353-a128-8604bcdffadf" ng-model="params.filter.msg_uuid.eq">
            </div>

            <div class="col-sm-3 form-group">
                <label>bulk ID</label>
                <input class="form-control" ng-keypress="$event.which===13 && search()" type="text"
                        placeholder="395670bd-e511-40f1-9132-79615386b50b" ng-model="params.filter.bulk_id.ci">
            </div>

            <div class="col-sm-3 form-group">
                <label>user ID</label>
                <input class="form-control" ng-keypress="$event.which===13 && search()" type="text"
                        placeholder="AAABBB23B47L219X" ng-model="params.filter.user_id.eq">
            </div>
            <div class="col-sm-3 form-group">
                <label>payload</label>
                <input class="form-control" ng-keypress="$event.which===13 && search()" type="text"
                        placeholder="something" ng-model="params.filter.payload.ci">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 form-group">
                <label>date</label>
                <input type="datetime-local" class="form-control"
                    ng-model="params.filter.created_at.gte"/>
                <input type="datetime-local" class="form-control"
                    ng-model="params.filter.created_at.lte"/>

            </div>
            <div class="col-sm-3 form-group">
                <label>source</label>
                <select class="form-control" ng-model="params.filter.source.eq"
                            ng-options="source for source in sources">
                        <option value="">(source)</option>
                    </select>
            </div>
            <div class="col-sm-3 form-group">
                <label>type</label>
                    <select class="form-control" ng-model="params.filter.type.eq" ng-options="type for type in types">
                        <option value="">(type)</option>
                    </select>
            </div>
            <div class="col-sm-3 form-group">
                <label>tenant</label>
                    <select class="form-control" ng-model="params.filter.tenant.eq" ng-options="tenant for tenant in tenants">
                        <option value="">(tenant)</option>
                    </select>
            </div>

        </div>

        <div class="row text-center">
            <button class="btn btn-success" ng-click="search()">search</button>
            <button class="btn btn-primary" ng-click="set_dates(1e4, 0)">all</button>
            <button class="btn btn-primary" ng-click="set_dates(0, 0)">today</button>
            <button class="btn btn-primary" ng-click="set_dates(1, 1)">yesterday</button>
            <button class="btn btn-primary" ng-click="set_dates(7, 0)">last 7 days</button>
            <button class="btn btn-primary" ng-click="set_dates(30, 0)">last 30 days</button>
            <button class="btn btn-primary" ng-click="set_dates(from_begin_year(), 0)">this year</button>
            <button class="btn btn-primary" ng-click="set_dates(1e4,7)">older than 7 days</button>
            <button class="btn btn-primary" ng-click="set_dates(1e4,30)">older than 30 days</button>
            <button class="btn btn-danger" ng-click="delete()">delete</button>
            <button class="btn btn-warning" ng-click="clear()">clear</button>
        </div>
    </div>
    
    <div ng-show="showDivMessagge" class="alert" ng-class="success? 'alert-success':'alert-danger' " role="alert">
        {{resultMessage}}
    </div>

    <div class="row">
        <div class="col-sm-6">Total records found: {{total_elements | number}}</div>
        <div class="col-sm-6 text-right">
            Export data: <a ng-click="createReportCSV()">csv</a> | <a ng-click="createReportExcel()">excel</a>
        </div>
    </div>

    <div class="table-responsive">
    <table class="table table-hover">
        <thead style="text-transform: uppercase;">
        <tr>
            <th>msg uuid</th>
            <th>created</th>
            <th>description</th>
            <th>source</th>
            <th>type</th>
            <th>bulk id</th>
            <th>user id</th>
            <th>tenant</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-class="e.error? 'bg-danger':''" ng-repeat="e in events">

            <td>{{e.msg_uuid}}</td>
            <td>{{e.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td dd-text-collapse dd-text-collapse-max-length="60" dd-text-collapse-text="{{e.description}}"></td>
            <td>{{e.source}}</td>
            <td>{{e.type}}</td>
            <td>{{e.bulk_id}}</td>
            <td><a href="" ng-click="go('users',{user_id: e.user_id, tenant: e.tenant})">{{e.user_id}}</a></td>
            <td>{{e.tenant}}</td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">
                    <button ng-show="e.payload === 0" class="btn btn-default btn-sm" ng-click="getPayload(e.id)" title="payload">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </button>
                    <button ng-show="e.me_payload" class="btn btn-default btn-sm" data-toggle="modal" data-target="#token-modal" ng-click="openModal('Message',e.me_payload,e)" title="show message">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </button>
                    <button title="show error" ng-show="e.error" class="btn btn-default btn-sm" data-toggle="modal" data-target="#token-modal" ng-click="openModal('Error',e.error,e)">
                        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-2">
            <button class="btn btn-default btn-sm" ng-show="currentPage > 1" ng-click="choose(1)"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>
            <button class="btn btn-default btn-sm" ng-show="currentPage > 1" ng-click="prec()"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
        </div>
        <div class="col-sm-2">Page {{currentPage | number}} of {{totalPages | number}}<br>{{total_elements | number}} record(s)</div>
        <div class="col-sm-2">
            <button class="btn btn-default btn-sm" ng-show="currentPage < totalPages" ng-click="succ()"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
            <button class="btn btn-default btn-sm" ng-show="currentPage < totalPages" ng-click="choose(totalPages)"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
        </div>
    </div>


    <div id="token-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <div class="row">
                        <h4 class="modal-title col-sm-4"><b>{{title}}</b></h4>
                    </div>
                </div>
                <form name="tokenForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <pre pretty-json="mex"></pre>
                        </div>

                        <div class="container">

                            <div ng-show="showDivMessagge" class="alert alert-trim"
                                 ng-class="success? 'alert-success':'alert-danger'" role="alert">
                                <span data-ng-bind-html="resultMessage"></span>
                            </div>
                        </div>
                        <button ng-show="title === 'Message'" type="button" ng-click="go('mex',{mex_id: mex.id})"
                                class="btn btn-secondary" data-dismiss="modal">Go to Messages
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
