<div class="col-sm-12" ng-controller="statistic-events">

    <div class="filter-panel">
    <div class="form-inline text-center">
        <div class="form-group">
            <label>date</label>
            <input type="date" class="form-control"
                ng-model="gte"
                placeholder="dd/MM/yyyy"/>
            <input type="date" class="form-control"
                ng-model="lte"
                placeholder="dd/MM/yyyy"/>
        </div>
        <button class="btn btn-success" ng-click="search()">search</button>
        <button class="btn btn-primary" ng-click="set_dates(1e4, 0)">all</button>
        <button class="btn btn-primary" ng-click="set_dates(0, 0)">today</button>
        <button class="btn btn-primary" ng-click="set_dates(1, 1)">yesterday</button>
        <button class="btn btn-primary" ng-click="set_dates(7, 0)">last 7 days</button>
        <button class="btn btn-primary" ng-click="set_dates(30, 0)">last 30 days</button>
        <button class="btn btn-primary" ng-click="set_dates(from_begin_year(), 0)">this year</button>
    </div>
    </div>

    <div ng-show="showDivMessagge" class="alert" ng-class="success? 'alert-success':'alert-danger' " role="alert">
        {{resultMessage}}
    </div>

    <div>
        <input class="form-control" type="text" ng-model="f" placeholder="start type here to filter statistics list...">
        <table class=" table table-striped table-responsive table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Tenant</th>
                <th>Service</th>
                <th>Source</th>
                <th ng-repeat="t in types">{{t}}</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="value in statistic| filter:f">
                <td><button class="btn btn-sm" ng-click="historicize(value)">Archive</button>
                </td>
                <td>{{value.tenant}}</td>
                <td>{{value.sender}}</td>
                <td>{{value.source}}</td>
                <td ng-repeat="t in types"><a ng-click="goToEvents(value,t)" ng-show="t != 'OLD_SYSTEM_ERROR'" href="">{{value.types[t]}}</a><div ng-show="t == 'OLD_SYSTEM_ERROR'">{{value.types[t]}}</div></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>