<div ng-controller="templates" class="col-sm-12">

    <div ng-show="showDivMessagge" class="alert" ng-class="success? 'alert-success':'alert-danger'" role="alert">
        <span data-ng-bind-html="resultMessage"></span>
    </div>

    <div class="row">
        <form class="form-horizontal" name="templateForm" >
            <div class="form-group">
                <label class="col-sm-2">File</label>
                <div class="col-sm-10">
                    <input type="file" accept=".html" name="file" id="file" file-model="template_file" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2">Template name</label>
                <div class="col-sm-10">
                    <input name="template_name" class="form-control" type="text" placeholder="default-template.html"
                        required minlength="4" ng-model="template_name"/>
                    <p ng-show="templateForm.template_name.$invalid && templateForm.template_name.$touched"
                        class="alert alert-danger">Template name must be at least 4 characters</p>
                </div>
            </div>
            <button ng-disabled="templateForm.$invalid || !template_file || template_file == ''" class="btn btn-primary" ng-click="upload()">Upload</button>
        </form>
    </div>
    <hr>
    <div class="row">
        <table class=" table table-striped table-responsive table-hover">
            <thead style="text-transform: uppercase;">
                <tr>
                    <th class="col-md-10">name</th>
                    <th class="col-md-2 text-center">actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(property, value) in templates">
                    <td class="col-md-10">{{property}}</td>
                    <td class="col-md-2 text-center">
                        <input style="opacity:0;height: 0;width: 5px;" id="{{property.replace('.','')}}" value="{{value}}">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" data-clipboard-target="#{{property.replace('.','')}}" title="copy to clipboard base 64 value">
                                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                            </button>
                            <button type="button" ng-click="downloadHTML(property,value)" class="btn btn-default" aria-label="download" title="download template">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </button>
                            <button type="button" ng-click="delete(property)" class="btn btn-default" title="remove template">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>