<div class="col-sm-12" ng-controller="users">

    <div class="counter-panel">
        <div class="text-uppercase">
            <strong>Total users: {{users_count.count}}</strong>
        </div>
    </div>
    
    <div>
        <div class="filter-panel">
            <div class="form-group">
                
                <div class="form-inline text-center">
                    <label>Search per </label>
                    <div class="form-group">
                        <label for="">user ID</label>
                            <input class="form-control" type="text" placeholder="GRTDPT32T23L219D" ng-model="user_id">
                    </div>
                    <label>and</label>
                    <div class="form-group">
                        <label title="Tenant" class="control-label">tenant</label>
                        <select class="form-control" ng-model="tenant" >
                            <option ng-repeat="option in tenants" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" ng-click="search()">search</button>
                </div>
                <div class="form-inline text-center">
                    <label>Search per </label>
                    <div class="form-group">
                        <label>email</label>
                        <input class="form-control" ng-keypress="$event.which===13 && searchUsers()" type="text"
                                ng-model="params.filter.email.ci" placeholder="user@example.com">
                    </div>
                
                    <label>and/or</label>
                    <div class="form-group">
                        <label>SMS</label>
                        <input class="form-control" ng-keypress="$event.which===13 && searchUsers()" type="text"
                                ng-model="params.filter.sms.eq" placeholder="3005432121">
                    </div>

                    <button class="btn btn-primary" ng-click="searchUsers()">search</button>
                </div>
            </div>
        </div>

        <div ng-show="users">
            <input class="form-control" type="text" ng-model="f" placeholder="start type here to filter users list...">
            <table class=" table table-striped table-responsive table-hover">
                <thead style="text-transform: uppercase;">
                <tr>
                    <th>tenant</th>
                    <th>user id</th>
                    <th>sms</th>
                    <th>email</th>
                    <th>push</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users| filter:f">
                    <td>{{user.tenant}}</td>
                    <td><a href="" ng-click="search(user.user_id, user.tenant)">{{user.user_id}}</a></td>
                    <td>{{user.sms}}</td>
                    <td>{{user.email}}</td>
                    <td dd-text-collapse dd-text-collapse-max-length="20" dd-text-collapse-text="{{user.push}}"></td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-2">
                    <button class="btn btn-default btn-sm" ng-show="currentPage > 1" ng-click="choose(1)"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>
                    <button class="btn btn-default btn-sm" ng-show="currentPage > 1" ng-click="prec()"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                </div>
                <div class="col-sm-2 text-center">Page {{currentPage | number}} of {{totalPages | number}}<br>{{total_elements | number}} record(s)</div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-sm" ng-show="currentPage < totalPages" ng-click="succ()"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                    <button class="btn btn-default btn-sm" ng-show="currentPage < totalPages" ng-click="choose(totalPages)"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="userNotify">

        <div ng-show="showDivMessagge" class="alert" ng-class="'alert-danger'" role="alert">
            <span data-ng-bind-html="resultMessage"></span>
        </div>

        <div ng-show="userNotify">
            <p class="text-uppercase" style="color: #9c9a9a;font-size: large;"><strong>User details</strong></p>
            <pre pretty-json="userNotify"></pre>

            <p class="text-uppercase" style="color: #9c9a9a;font-size: large;"><strong>User preferences</strong></p>
            <table class=" table table-striped table-responsive table-hover">
                <thead>
                <tr>
                    <th>Service</th>
                    <th>Channels</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="preference in listPreferences">
                    <td>{{preference.service_name}}</td>
                    <td>{{preference.channels}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div id="token-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">User Preferences: {{listPreferences[0].user_id}}</b></h4>
                </div>
                <form name="tokenForm">
                    <div class="modal-body">
                        <table class=" table table-striped table-responsive table-hover">
                            <thead>
                            <tr>
                                <th>User ID</th>
                                <th>Service</th>
                                <th>Channels</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="preference in listPreferences">
                                <td>{{preference.user_id}}</td>
                                <td>{{preference.service_name}}</td>
                                <td>{{preference.channels}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="container">

                            <div ng-show="showDivMessagge" class="alert alert-trim"
                                 ng-class="success? 'alert-success':'alert-danger'" role="alert">
                                <span data-ng-bind-html="resultMessage"></span>
                            </div>


                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

