<!--div ng-controller="client">
<pre>{{client}}</pre>
</div-->
<div ng-controller="utilities">

    <div class="container">
        <br>
        <div class="form-inline">
            <label>Token</label>
            <input class="form-control" type="text" id="tokenText"
                   ng-model="token_notify"/>
            <label>Password</label>
            <input class="form-control" type="text" id="passwordText"
                   ng-model="password"/>
        </div>
        <br>
        <div class="form-inline">
            <span class="input-group-button">
                    <button class="btn" type="button" ng-click="decryptAES()">
                        Decrypt
                    </button>
            </span>
            <span class="input-group-button">
                    <button class="btn" type="button" ng-click="encryptAES()">
                        Crypt
                    </button>
            </span>


            <label>Decrypted Token JWT</label>
            <input class="form-control" type="text" id="tokenCryptedText"
                   ng-model="token_notify_jwt" readonly/>

            <span class="input-group-button">
                <button class="btn" type="button"
                        data-clipboard-target="#tokenCryptedText">
                    <img class="clippy" src="./images/clippy.svg" width="13"
                         alt="Copy to clipboard">
                </button>
            </span>
        </div>

        <br>
        <pre pretty-json="token"></pre>

        <hr>
        <div ng-show="showDivMessagge" class="alert" ng-class="success? 'alert-success':'alert-danger'"
             role="alert">
            <span data-ng-bind-html="resultMessage"></span>
        </div>

    </div>


</div>

<br><br>


<!--div id="mail-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"><b>Email</b></h4>
            </div>
            <form name="tokenForm">
                <div class="form-group">
                    <div class="container">
                        <input class="form-control" type="text" name="sender" placeholder="sender"
                               ng-model="email_to_send.sender"/>
                        <input class="form-control" type="text" name="cc" placeholder="cc"
                               ng-model="email_to_send.cc"/>
                        <input class="form-control" type="text" name="subject" placeholder="subject"
                               ng-model="email_to_send.subject"/>
                        <textarea class="form-control" name="body"
                                  ng-model="email_to_send.body"> </textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div-->


<div class="modal fade" id="mail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Email</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="form-group">
                    <div class="md-form mb-5 row">
                        <div class="col-sm-2">
                            <label data-error="wrong" data-success="right"><i
                                    class="glyphicon glyphicon-envelope"></i> Sender</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="email" id="defaultForm-emailsender" ng-model="email_to_send.sender"
                                   class="form-control validate">
                        </div>
                    </div>

                    <div class="md-form mb-5 row">
                        <div class="col-sm-2">
                            <label data-error="wrong" data-success="right"><i
                                    class="glyphicon glyphicon-envelope"></i> CC</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" ng-model="email_to_send.cc" class="form-control validate">
                        </div>
                    </div>

                    <div class="md-form mb-5 row">
                        <div class="col-sm-2">
                            <label data-error="wrong" data-success="right"><i
                                    class="glyphicon glyphicon-envelope"></i> Recipient</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" ng-model="email_to_send.recipient" class="form-control validate">
                        </div>
                    </div>

                    <div class="md-form mb-5 row">
                        <div class="col-sm-2">
                            <label data-error="wrong" data-success="right">Subject</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" ng-model="email_to_send.subject" class="form-control">
                        </div>
                    </div>


                    <div class="md-form mb-5 row">
                        <div class="col-sm-2">
                            <label data-error="wrong" data-success="right">Body</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea rows="20" ng-model="email_to_send.body" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " data-dismiss="modal" ng-click="sendMail()">Send</button>
            </div>
        </div>
    </div>
</div>


<!--button ng-click="getToken(e.name,)">get token</button-->
</div>

